<footer id="footer" class="wrapper animated fadeIn">
    <div class="author">
        <a class = "footer-social" href = "http://facebook.com/{{ site.facebook }}">
            <i class="fab fa-facebook"></i>
        </a>
        <a class = "footer-social" href = "http://github.com/{{ site.github-url }}">
            <i class="fab fa-github-alt"></i>
        </a>
        <a class = "footer-social" href = "mailto:{{ site.email }}">
            <i class="fas fa-envelope"></i>
        </a>
        <a class = "footer-social" href = "http://linkedin.com/in/{{ site.linkedin }}">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <div class = "line-of-footer"></div>
        <div class = "view-page" style = "text-align: center; width: 50%; height: 50%; margin: 0 auto;">
            <div class="view-page-c" style="justify-content: center; display:flex">
                <p style="font-size:0.85rem; text-align: center; padding-right: 0.2rem"><i class="far fa-eye"></i> <span class="counter" id = "view-all" style="color: #bb86fc;">Đang cập nhật</span></p>
                <p style="font-size:0.85rem; text-align: center;"> -   Bạn đã truy cập: <span class="counter" id = "view-user">Đang cập nhật</span></p>
            </div>
        </div>
        <p class = "info-f">
            <span class = "text-author-pre">Copyright &copy; 2022 </span><span class = "text-author">Deuteri</span>
        </p>
    </div>
</footer>