<h1 class="toc-title" style="text-align: center;">Contents</h1>
<nav class="scroll-navv"> Table of contents
    {% include toc.html html=content class="scroll-navv hidden-print affix" ordered = false h_min=2 h_max=6 item_class = "nav-item" submenu_class ="scroll-navv child" anchor_class = "nav-link" %}
    <!-- <svg class="toc-marker" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
        <path stroke="#bb86fc" stroke-width="3" fill="transparent" stroke-dasharray="0, 0, 0, 1000" stroke-linecap="round" stroke-linejoin="round" transform="translate(-0.5, -0.5)" />
    </svg> -->
</nav>

