<h1 class="toc-title" style="text-align: center;">Nội dung</h1>
<br>
<nav class="scroll-nav">
    {% include toc.html html=content class="scroll-nav__list" ordered = true h_min=1 h_max=6 item_class = "scroll-nav__item" submenu_class ="scroll-nav__sub-list" anchor_class = "scroll-nav__sub-item" %}
    <svg class="toc-marker" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
        <path stroke="#bb86fc" stroke-width="3" fill="transparent" stroke-dasharray="0, 0, 0, 1000" stroke-linecap="round" stroke-linejoin="round" transform="translate(-0.5, -0.5)" />
    </svg>
</nav>

