body, html{
	margin: 0px;
	height: 100% !important;
	overflow-y: hidden;
    background-color: #000000;
}
* { margin: 0; padding: 0; }

/* html, body { height: 100%; }

body {
    background: #000;
}

canvas {
    display: block; 
    cursor: crosshair;
} */ 