// Buttons
%btnextend {
	display: inline-block;
	border: 1px solid $color_primary; 
	// border-color: rgba($color_mercury,0.5) rgba($color_bon_jour,0.5) $color_mischka;
	border-radius: 0.25rem;
	text-decoration: none;
	background: $color_button;
	// color: $color_shark;
    color: $color_primary_text;
	&:hover {
		box-shadow: 0 0 1px 0 rgba($color_primary,0.5);
		color: $color_primary;
        font-weight: 500px;
        border: 1px solid $color_primary; 
        background: $color_bg_wrapper;
	}
}

.social-btn {
	padding: 10px;
	margin: 10px;
	@extend %btnextend;
}

a:link {
    color: $color_primary_text;
}

h3.title a {
    color: $color_primary_text;
    text-decoration: none;
}

.btn {
	padding: 8px 16px;
	@include font-rem(14);
	margin: 4px auto;
	@extend %btnextend;
    transition: 0.3s;
    font-weight: 400 !important;
	&.btn-success {
        background-color: $color_primary;
        color: $color_black;
        border-color: $color_primary;
        &:visited {
            color: $color_black;
        }
        &:hover {
            background-color: $color_bg_wrapper;
            color: $color_primary;
        }
    }
    &.btn-warning {
        background-color: $warning;
        color: $white;
        border-color: $warning;
        &:visited {
            color: $white;
        }
        &:hover {
            background-color: $white;
            color: $warning;
        }
    }
    &.btn-danger {
        background-color: $danger;
        color: $white;
        border-color: $danger;
        &:visited {
            color: $white;
        }
        &:hover {
            background-color: $white;
            color: $danger;
        }
    }

    &.btn-inverse{
        background-color: $color_primary;
        color: $color_black;
        &:visited {
            color: $color_black;
        }
        &:hover {
            background-color: $color_bg_wrapper;
            color: $color_primary;
        }
    }

    &.zoombtn{
        background-color: $color_primary;
        color: $color_black;
        
        &:visited {
            color: $color_black;
        }
        &:hover {
            background-color: $color_bg_wrapper;
            color: $color_primary;
        }
    }

    &.btn-info {
        // background-color: $info;
        // color: $white;
        // border-color: $info;
        border: 0px;
        text-align: center;
        display: inline-block;
        height: 50px;
        width: 50px;
        float: center;
        margin: 0 5px;
        overflow: hidden;
        background: $color_button;
        border-radius: 50px;
        cursor: pointer;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
        transition: all 0.5s ease-out;
        &:visited {
            color: $white;
        }
        &:hover {
            width: 200px;
            background-color: $color_primary;
            color: $color_black;
        }
        // &.btn-info .icon{
        //     display: inline-block;
        //     height: 40px;
        //     width: 40px;
        //     text-align: center;
        //     border-radius: 50%;
        //     box-sizing: border-box;
        //     line-height: 40px;
        //     transition: all 0.3s ease-out;
        // }

        // &.btn-info .icon i{
        //     line-height: 50px;
        //     transition: all 0.3s ease-out;
        // }

        // &.btn-info .icon i{
        //     color: $color_primary_text;
        // }

        // &.btn-info span{
        //     font-weight: 500px;
        //     line-height: 50px;
        //     margin-left: 10px;
        //     transition: all 0.3s ease-out;
        // }

        // position: relative;
        // padding: 10px 30px;
        // border: 2px solid #41f321;
        // margin: 10px;
        // display: inline-block;
        // text-decoration: none;
        // color: #41f321;
        // letter-spacing: 2px;
        // text-transform: uppercase;
        // transition: 0.5s;

        // &:hover {
        //     background-color: $white;
        //     color: $info;
        // }
    }

}

.title .btn {
    margin: 10px;
    @include font-rem(16);
    font-weight:500;
}
.post-list {
    .btn {
            @include font-rem(14);
    }
}

// readmore
.read-more{
	color:$color_primary !important;
    text-decoration: none; 
    width: 100%;
    font-size: 0.875rem !important
}
.read-more:hover{
	color: $color_hover_link !important
}

// a link for somelink

.link_for_hover{
	color:$color_primary !important;
    text-decoration: none; 
    width: 100%;
    font-size: 0.875rem !important
}
.link_for_hover:hover{
	color: $color_hover_link !important
}

// 404 click 
.notification-page{
    width: 100%;
    text-align: center;
    color: $color_primary_text;
}

.notification-page h1{
    // margin: 0.67em !important;
    padding: 3rem !important;
    font-size: 160px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text !important;
}

.btn-404-click {
    /* Clean style */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    color: $color_primary;
    cursor: pointer;
    /* Clean style */
    position: relative;
    padding: 6px;
    margin-top: 1.25rem;
    margin-bottom: 1.0rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    transition: all .15s ease;
}

.btn-404-click::before,
.btn-404-click::after {
    content: '';
    display: block;
    position: absolute;
    right: 0; left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
}

.btn-404-click::before {
    top: 0;
    border-bottom-width: 0;
}

.btn-404-click::after {
    bottom: 0;
    border-top-width: 0;
}

.btn-404-click:active,
.btn-404-click:focus {
    outline: none;
}

.btn-404-click:active::before,
.btn-404-click:active::after {
    right: 3px;
    left: 3px;
}

.btn-404-click:active::before {
    top: 3px;
}

.btn-404-click:active::after {
    bottom: 3px;
}

.btn-404-click__inner {
    position: relative;
    display: block;
    padding: 6px 25px;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px$color_primary;
}

.btn-404-click__inner::before {
    content: '';
    display: block;
    position: absolute;
    top: 0; left: 0;
    width: 2px;
    height: 2px;
    background-color: $color_secondary;
}

.btn-404-click__inner::after {
    content: '';
    display: block;
    position: absolute;
    right: 0; bottom: 0;
    width: 4px;
    height: 4px;
    background-color: $color_background;
    transition: all .2s ease;
}

.btn-404-click__slide {
    display: block;
    position: absolute;
    top: 0; bottom: -1px; left: -8px;
    width: 0; 
    background: $color_primary;
    transform: skew(-15deg);
    transition: all .2s ease;
}

.btn-404-click__content {
    position: relative;
}

.btn-404-click:hover {
    color:$color_primary_text !important;
}

.btn-404-click:hover .btn-404-click__slide {
    width: calc(100% + 15px);
}

.btn-404-click:hover .btn-404-click__inner::after {
    background-color: $color_primary_text;
    color: $color_primary_text
}

// text - 404
.text-404 {
    margin: 0px;
}

.text-404-1 {
    margin: 0px;
    margin-top: 1rem;
}

// link for 404
.link-for-404{
    text-decoration: none; 
    color:$color_primary !important;
}

.link-for-404:hover{
    color: $color_hover_link !important;
}


// hr break
hr {
	border: 0;
	height: 1px;
	opacity: .8;
    margin: 1em 0;
	background-image: -webkit-linear-gradient(left, $color_primary_line, $color_primary, $color_primary_line);
	background-image: -moz-linear-gradient(left, $color_primary_line, $color_primary, $color_primary_line);
	background-image: -ms-linear-gradient(left, $color_primary_line, $color_primary, $color_primary_line);
	background-image: -o-linear-gradient(left, $color_primary_line, $color_primary, $color_primary_line);
	&.hr-line {
		border: 0;
		height: 1px;
		opacity: .15;
		margin: 1em 0;
		background-image: -webkit-linear-gradient(left, $color_primary_line, $color_primary, $color_primary_line);
		background-image: -moz-linear-gradient(left, $color_primary_line, $color_primary, $color_primary_line);
		background-image: -ms-linear-gradient(left, $color_primary_line, $color_primary, $color_primary_line);
		background-image: -o-linear-gradient(left, $color_primary_line, $color_primary, $color_primary_line);
	}
}

// images and figures
img {
    display: block;
	max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    -ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality;
}
.img-circle {
	border-radius: 50%;
	// border: 3px solid $white;
	height: 150px;
	width: 150px;
}
.author-photo {
    background-color: $color_background;
}
.image-right {
    float: right;
    margin-left: 1em;
    margin-top: 0;
}
figure {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    @include clearfix();
    img {
        margin-bottom: 10px;
        @include rounded(0.25rem);
    }
    &.half {
        @media only screen and (min-width: 62.5em) {
            img {
                width: calc(50% - 4px);
                float: left;
                margin-left: 1px;
                margin-right: 1px;
            }
            figcaption {
                clear: left;
            }
        }
    }
    &.third {
        @media only screen and (min-width: 62.5em) {
            img {
                width: calc(33.3% - 6px);
                float: left;
                margin-left: 1px;
                margin-right: 1px;
            }
            figcaption {
                clear: left;
            }
        }
    }
}
svg:not(:root) {
    overflow: hidden; 
}

// keyboard tag
kbd {
	display: inline-block;
	margin: 0 1px;
	padding: 1px 8px;
	@include font-rem(10);
	font-weight: bold;
	color: $color_fuscous_gray;
	vertical-align: middle;
	background-color: $color_alabaster;
	border: solid 1px $color_celeste;
	border-bottom-color: $color_pink_swan;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 $color_pink_swan;
}

// go up button
.goup-container {
    border-radius: 5px !important;
    // border-color: rgba($color_mercury,0.5) rgba($color_bon_jour,0.5) $color_mischka !important;
    // border: 3px solid $color_primary;
    background: transparent !important;
	@media #{$small} {
		display: none !important;
	}
    height: 0 !important;
    bottom: 80px !important;
}
.goup-arrow {
    border-color: transparent transparent $color_primary !important;
    padding-top: 12px !important;
}

// reading time
.reading-time {
    text-align: center;
    font-weight: 300;
    margin-bottom: 10px;
}


// pre_next

.dark .nav-primary {
    border-bottom-color: rgba(187, 134, 252,.2) !important;
}

.dark .tab-conversation.active>a {
    color: $color_primary_text !important;
}

.dark .nav-tab>a {
    color: rgba(228, 230, 235,.2) !important;
    text-shadow: none;
    &:hover {
        color: $color_primary_text !important;
    }
}

// Toc scroll

.scroll-nav {
    // position: fixed;
    li a {
        display: inline-block;
        color: $color_primary_text;
        text-decoration: none;
        transition: all 0.3s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    }
    li.visible>a {
        color: $color_primary;
        transform: translate( 5px );
    }
    li.visible > .scroll-nav__item{
        color: $color_primary;
        // transform: translate( 5px );
    }
}

.scroll-nav {
    // border-radius: 0.25em;
    font-size: 20px;
    color: $color_primary_text;
    font-weight: bold;
    max-width: 20em;
    text-align: left;
    // background-color: $color_background;
    // box-shadow: 0 0 30px 0 rgba($color_black, 0.5);
    border-left: 2px solid $color_bg_wrapper;
    // border: 1px solid #a2a9b1;
    padding: 15px 30px;
    position: fixed;
    line-height: 0.875em;
    transform: translate(950px, 10px);
    // margin-top: -15%;
    margin: -19.8rem 10rem 10rem -10rem;
    @media #{"only screen and (max-width: 992px)"} {
        display: none;
    }

    ol{
        padding-left: 10px;
        text-align: justify;
        font-size: 13px;
    }

    ol ol{
        padding-left: 10px;
        font-size: 11px;
        display: none;
    }


    a {
        color: $color_primary_text;
        text-decoration: none;
    }
    
    a:hover {
        color:$color_primary
    }
    
    &:before {
        font-family: 'FontAwesome';
        content: "\f02e";
        font-weight: bold;
        color: $color_primary;
        margin: -22px;
        margin-right: 0.25em;
        font-size: 20px;
    }
}

.scroll-nav__list {
    margin: 0;
    margin-top: 1em;
    padding-left: 1.4em;
    list-style-type: upper-roman;
    text-align: justify;
    list-style-type: "";
}

.scroll-nav__item {
   // margin-bottom: 5px;
}

.scroll-nav__link {
    color: $color_primary;
    text-decoration: none;
    //display: block;
    //margin: 0 auto;
    //padding-left: 42px;
}

.scroll-nav__sub-list{
    list-style-type: "";
}

.scroll-nav__sub-item {
    overflow: hidden;
    max-width: 120px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.scroll-nav ol > .visible > ol{
    display: block;
}

// .toc-marker {
//     position: absolute;
//     top: 0;
//     left: -20px;
//     width: 100%;
//     height: 100%;
//     z-index: -1;

//     path {
//         transition: all 0.3s ease;
//     }
// }

// .scroll-nav {
//     padding-left: 0px;
//     position: fixed;
//     margin: -19.8rem 10rem 10rem -10rem;
// }
// /* all anchors */

// .scroll-nav>li>a {
//     padding: 3px;
//     border-left: 0px rgba(0, 0, 0, 0);
// }
// /* first level */

// .scroll-nav li>a {
//     padding-left: 10px;
// }
// /* second */

// .scroll-nav .scroll-nav li>a {
//     padding-left: 20px;
//     font-size: .9em;
// }
// /* third */

// .scroll-nav.scroll-nav .scroll-nav li>a {
//     padding-left: 30px;
//     font-size: .8em;
// }
// /* fourth */

// .scroll-nav .scroll-nav .scroll-nav .scroll-nav li>a {
//     padding-left: 40px;
// }
// /* fifth */

// .scroll-nav .scroll-nav .scroll-nav .scroll-nav .scroll-nav li>a {
//     padding-left: 50px;
// }
// /* active link */

// li.visible>a {
//     font-weight: bold;
//     border-left: 2px solid gray;
// }
// /* hide second level lists */

// .scroll-nav .scroll-nav {
//     //display: none;
// }
// /* show second-level when active */

// .scroll-nav>.visible>.scroll-nav {
//     display: block;
// }
// /* headings on the page (easier to see h5, h6) */



// .exclude {
//     background-color: red;
// }


// project

.dark {
	background: #110f16;
}

a, a:hover {
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}

/* Cards */
.postcard {
    flex-wrap: wrap;
    display: flex;
    box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.66);
    border-radius: 0.25rem;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
    color: $color_primary_text;

    &:hover{
        box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.66);
    }

	&.dark {
		background-color: #18151f;
	}
	
	.t-dark {
		color: #18151f;
	}
	
    a {
        color: inherit;
        font-size: 1.5rem;
    }
	
	
	.small {
		font-size: 0.85rem;
	}

    .postcard__title {
        font-size: 1.75rem;
    }

    .postcard__img {
        max-height: 180px;
        width: 100%;
        object-fit: cover;
        position: relative;
    }

    .postcard__img_link {
        display: contents;
    }

    .postcard__bar {
        width: 50px;
        height: 3px !important;
        margin: 10px 0;
        border-radius: 5px;
        background-color: #424242;
        transition: width 0.2s ease;
    }

    .postcard__text {
        padding: 1.5rem;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .postcard__preview-txt {
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: justify;
        height: 100%;
        width: 95%;
    }

    .postcard__tagbox {
        display: flex;
        flex-flow: row wrap;
        font-size: 14px;
        margin: 20px 0 0 0;
            padding: 0;
        justify-content: center;

        .tag__item {
            display: inline-block;
            background: $color_button;
            border-radius: 3px;
            padding: 2.5px 10px;
            margin: 0 5px 5px 0;
            cursor: default;
            user-select: none;
            transition: background-color 0.3s;

            &:hover {
                background: rgba(31, 31, 50, 0.8);
                color: $color_primary;
            }

            .add-tag{
                font-size: 0.85rem !important;
                padding-left: .15rem;
            }

            .fa-clock{
                padding-left: .15rem;
            }
        }
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(-70deg, #424242, transparent 50%);
        opacity: 1;
        border-radius: 0.25rem;
    }

    &:hover .postcard__bar {
        width: 95%;
    }
}

@media screen and (min-width: 769px) {
    .postcard {
        flex-wrap: inherit;

        .postcard__title {
            font-size: 2rem;
        }

        .postcard__tagbox {
            justify-content: start;
        }

        .postcard__img {
            max-width: 300px;
            max-height: 100%;
            transition: transform 0.3s ease;
        }

        .postcard__text {
            padding: 1rem;
            padding-left: 3rem;
            width: 100%;
        }

        .media.postcard__text:before {
            content: "";
            position: absolute;
            display: block;
            background: #18151f;
            top: -20%;
            height: 130%;
            width: 55px;
        }

        &:hover .postcard__img {
            transform: scale(1.1);
        }

        &:nth-child(2n+1) {
            flex-direction: row;
        }

        &:nth-child(2n+0) {
            flex-direction: row-reverse;
        }

        &:nth-child(2n+1) .postcard__text::before {
            left: -12px !important;
            transform: rotate(4deg);
        }

        &:nth-child(2n+0) .postcard__text::before {
            right: -12px !important;
            transform: rotate(-4deg);
        }
    }
}
@media screen and (min-width: 1024px){
	.postcard__text {
        padding: 2rem 3.5rem;
    }
		
	.postcard__text:before {
        content: "";
        position: absolute;
        display: block;
        
        top: -20%;
        height: 130%;
        width: 55px;
    }
	
    .postcard.dark {
		.postcard__text:before {
			background: #18151f;
		}
    }
}

/* COLORS */
.pri .postcard__title:hover {
	color: $color_primary;
}
.pri .postcard__bar {
	background-color: $color_primary;
}
.pri::before {
	background-image: linear-gradient(-30deg, $color-rgba-01, transparent 50%);
}
.pri:nth-child(2n)::before {
	background-image: linear-gradient(30deg, $color-rgba-01, transparent 50%);
}

@media screen and (min-width: 769px) {

	.pri::before {
		background-image: linear-gradient(
			-80deg,
			$color-rgba-01,
			transparent 50%
		);
	}
	.pri:nth-child(2n)::before {
		background-image: linear-gradient(80deg, $color-rgba-01, transparent 50%);
	}
}

.name-project{
    text-decoration: none;
    color: $color_primary !important;
}

.name-project:hover{
    color: $color_hover_link !important;
}

// footer for post
.post-datetime,
.post-list-tags {
    display: inline-block;
}

.post-datetime {
    .fa {
        color: $color_hover_link;
    }
}

.fa-calendar-alt:before {
    font-family: 'FontAwesome';
    content: "\f073";
    font-size: 0.9rem;
    color: $color_hover_link;
    padding-right: .15rem;
    font-style: initial;
}

.fa-calendar-alt{
    color:$color_hover_link;
}

.fa-calendar-Alt:before {
    font-family: 'FontAwesome';
    content: "\f073";
    font-size: 0.9rem;
    color: $color_hover_link;
    padding-right: .15rem;
    font-style: initial;
}

.fa-calendar-Alt{
    color:$color_hover_link;
}


.post-list-footer-i{
    font-style: inherit;
    color: $color_hover_link;
}

.fa-tag:before {
    font-family: 'FontAwesome';
    content: "\f02c";
    color:$color_primary;
    font-size: 0.8rem;
}

.fa-tag{
    color:$color_hover_link;
}

.fa-clock:before{
    font-family: 'FontAwesome';
    content: "\f017";
    color:$color_primary;
    padding-right: 0.15rem;
    font-style: initial;
    font-size: 0.8rem;
}

.previous-bn{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
    margin-left: 10% !important;
}

.next-bn{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
}