#scroll-progress{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: grid;
    place-items: center;
}
#scroll-progress-value{
    display: block;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    background-color: #100e17;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-weight: 500;
    font-size: 0.7rem;
    color: $color_primary;
}