//@extend-elements
%extend1 {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 100%;
}


html {
	@extend %extend1;
}
body {
	@extend %extend1;
	font-family: $font1;
	@include font-rem($doc-font-size);
	color: $color_tuatara;
	background-color: $color_background;
	background-position: center center;
	background-attachment: fixed;
	@media #{$small} {
        background-image: none !important;
		background: $white;
	}
}
* {
	box-sizing: border-box;
}
*::after {
	box-sizing: border-box;
}
*::before {
	box-sizing: border-box;
}
.header {
	height: 100%;
	position: relative;
	width: 100%;
	min-height: 300px;
	text-align: left;
	color: $white;
	@media #{$small} {
		display: block !important;
	}
	@media only screen and (max-height: 500px) {
        display: block !important;
	}
}
.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.container {
	width: 31rem;
	max-width: 31rem;
	padding-right: 15px;
	padding-left: 15px;
	@include center-block();
	background-color: $color_bg_wrapper;
	color: $color_primary_text;
	z-index: 1;
	border-radius: 0.25rem;
	box-shadow: 0 .5rem 1rem rgba(33,31,47,.15)!important;
	@include transition(.5s);
	@media #{$small} {
		width: 100%;
        box-shadow: none;
	}
	@media #{$medium} {
		width: 80%;
	}
}
.row {
	margin-top: 15px;
	text-align: center;
	.title {
        margin-top: 0;
        margin-bottom: 5px;
	}
	@media #{$small} {
		padding: 0 1em;
	}
}
.wrapper {
	width: 75%;
	max-width: 950px;
	margin: 4rem auto;
	background: $color_bg_wrapper;
	color: $color_primary_text;
	padding: 2em;
	border-radius: 0.25rem;
	// box-shadow: 0 0 10px 0 rgba($color_shark,0.3);
    // box-shadow: 0 1.25rem 1rem 0.3125rem;
    box-shadow: 0 .5rem 1rem rgba(33,31,47,.15)!important;
    // box-shadow:0 1.25rem 1rem .3125rem $color_black;
	@include transition(.5s);
	@media #{$small} {
		width: 90%;
		padding: 2em 0;
        box-shadow: none;
	}

    // opacity: 0.85 !important;
}

.wrapper-2 {
	width: calc(100% - 15.75em);
	max-width: 850px;
	margin: 4rem auto;
	background: $color_bg_wrapper;
	color: $color_primary_text;
	padding: 2em;
	border-radius: 0.25rem;
	// box-shadow: 0 0 10px 0 rgba($color_shark,0.3);
    // box-shadow: 0 1.25rem 1rem 0.3125rem;
    box-shadow: 0 .5rem 1rem rgba(33,31,47,.15)!important;
    // box-shadow:0 1.25rem 1rem .3125rem $color_black;
	@include transition(.5s);
	@media #{$small} {
		width: 90%;
		padding: 2em 0;
        margin: 4rem auto;
        box-shadow: none;
	}

    // opacity: 0.85 !important;
}

.wrapper-project  {
    width: 75%;
	max-width: 1200px;
	margin: 4rem auto;
	background: $color_bg_wrapper;
	color: $color_primary_text;
	padding: 2em;
	border-radius: 0.25rem;
	// box-shadow: 0 0 10px 0 rgba($color_shark,0.3);
    // box-shadow: 0 1.25rem 1rem 0.3125rem;
    box-shadow: 0 .5rem 1rem rgba(33,31,47,.15)!important;
    // box-shadow:0 1.25rem 1rem .3125rem $color_black;
	@include transition(.5s);
	@media #{$small} {
		width: 90%;
		padding: 2em 0;
        box-shadow: none;
	}

    // opacity: 0.85 !important;
}

#disqus_thread {
	width: calc(100% - 15.75em);
	max-width: 850px;
	margin: -3rem auto 4rem;
	background: $color_bg_wrapper;
	color: $color_primary_text;
	padding: 2em;
	border-radius: 0.25rem;
	// box-shadow: 0 0 10px 0 rgba($color_shark,0.3);
    box-shadow: 0 .5rem 1rem rgba(33,31,47,.15)!important;
    // box-shadow:0 1.25rem 1rem .3125rem $color_black;
	@include transition(.5s);
	@media #{$small} {
		width: 90%;
		padding: 2em 0;
        margin: 4rem auto;
        box-shadow: none;
	}

    // opacity: 0.85 !important;
}
// entry meta
.entry-meta {
	@include font-rem(12);
	text-transform: uppercase;
	color: lighten($color_tuatara,60);
	padding-left: 0;
	a {
		color: lighten($color_tuatara,60);
	}
	li {
        list-style-type: none;
        display: inline;
	}
	.tag {
        display: inline-block;
        // border: 1px solid;
        // border-color: rgba($color_mercury,0.5) rgba($color_bon_jour,0.5) $color_mischka;
        @include rounded(0.25rem);
        text-decoration: none;
        background-color: $color_button;
        color: $color_primary_text;
        @include transition(.75s);
        margin: 2px 5px;
		span {
			float: left;
			padding: 2px 6px;
		}
		.count {
			background-color: $color_primary;
            color:$color_black !important;
			@include border-radius(0.25rem,0.25rem,0,0);
		}
		&:hover {
			background-color: $color_primary;
			box-shadow: 0 0 1px 0 rgba($color_shark,0.5);
            color: $black;
		}
	}
}
header .entry-meta {
	display: none; // hide header meta on small screens
	@media #{$notsmall} {
		display: block;
	}
}

.entry-title a {
    text-decoration: none;
}

.entry-tags {
	display: block;
    margin-top: 1rem;
	width: 70%;
    float: left;
    text-align: left;
}

.main-entry-title .entry-title{
    list-style: none;
    color: $color_primary_text;
    position: relative;
    margin: 10px 0;
    padding: 0;
    border-left: 4px solid #bb86fc;
    left: 0;
    transition: 0.5s;
}

.main-entry-title .entry-title:hover{
    left: 10px;
    
}

.main-entry-title .entry-title::before{
    content: '';
    position: absolute;
    width: 200px;
    height: 100%;
    background: #bb86fc;
    transition: 0.5s;
    transform: scaleX(0);
    transform-origin: left;
    margin-left: -1px;
    border-radius: 0px 10px 0px 0px;
}

.main-entry-title .entry-title:hover::before{
    transform: scaleX(1);
}

.main-entry-title .entry-title a{
    position: relative;
    display: inline-block;
    padding: 8px;
    margin: 0;
    z-index: 1;
    transition: 0.5s;
    text-decoration: none;
    color: $color_primary_text;
}


.main-entry-title .entry-title:hover a{
    color: #000
}


// color tag
.tag-heading{
    color: $color_primary;
}

.social-share {
	display: block;
    margin-top: 1rem;
    width: 30%;
    float: right;
    text-align: right;
}
.feature {
    @include transition(.5s);
    @media #{$small} {
        background-image: none !important;
    }
    @media #{$medium} {
        color: white;
        padding: 4em;
        margin-left: -4rem;
        margin-right: -4rem;
        margin-top: -4rem;
        border-radius: 0.25rem 0.25rem 0 0;
        background-color: rgba($black, 0.6);
        background-blend-mode: multiply;
        background-position: center center;
    }
    @media #{$notsmall} {
        color: white;
        padding: 8em;
        margin-left: -4rem;
        margin-right: -4rem;
        margin-top: -4rem;
        border-radius: 0.25rem 0.25rem 0 0;
        background-color: rgba($black, 0.6);
        background-blend-mode: multiply;
        background-position: center center;
    }
}


// Scrollbar

::-webkit-scrollbar {
    width: .3125rem;
    height: .3125rem;
    background-color: $color_background
}

::-webkit-scrollbar-track {
    border-radius: .3125rem;
    // background-color: $color_gray;
    background: 0 0;
}

::-webkit-scrollbar-track-piece {
    // background-color: $color_gray;
    background: 0 0;
}

::-webkit-scrollbar-button {
    // background-color: $color_gray;
    background: 0 0;
    /* height:0; */
}

::-webkit-scrollbar-thumb {
    border-radius: 1.25rem;
    background-clip: padding-box;
    background-color: $color_primary;
    background-image: linear-gradient(45deg, $color-grey-1 25%, transparent 0, transparent 50%, $color-grey-1 0, $color-grey-1 75%, transparent 0, transparent);
}

body.loaded::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
    background-color: $color_background;
}

body.loaded::-webkit-scrollbar-thumb {
    background-color: $color-pink-light
}

// Bôi màu 

::selection {
    background:$color_primary; 
    color:$color_black;
}
::-moz-selection {
    background:$color_primary; 
    color:$color_black;
}
::-webkit-selection {
    background:$color_primary; 
    color:$color_black;
}