// content area
.content {
	// @include font-size(12);
    font-size: 0.875em;
	padding: 0 2rem;
    line-height: 1.75em !important;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
	text-align: justify;
	@media #{$small} {
		padding: 0 .5em;
	}
}

// titles
.title {
	text-align: center;
	font-weight: bold;
	> p {
		text-align: center;
		font-weight: bold;
	}
	> a > p {
		text-align: center;
		font-weight: bold;
	}
}
.post-title {
	text-align: center;
	font-weight: bold;
	margin-bottom: 3rem;
}

// headings
h3.title a {
	color: $color_shark;
	text-decoration: none;
}

// post list
.post-list {
    text-align: left;
	ul {
		list-style: none;
		padding-left: 0;
	}
	li {
		padding: 10px 18px;
		margin: 0 10px;
		text-decoration: none;
		background: $color_bg_wrapper;
		color: $color_primary_text;
		a {
			@include font-rem(20);
			text-decoration: none;
			color: $color_primary;
			font-weight: bolder;
            &:hover {
                color: $color_hover_link;
            }
		}
		p {
			font-weight: lighter;
            margin: 0.25rem 0rem 1rem 0rem;
			@include font-rem(16);
		}
	}
}

// quotes
blockquote {
    font-family: serif;
    /* font-style: italic; */
    border-left: 0.25rem solid $color_primary;
    padding-left: 35px;
    margin: 0px;
    margin-block-start: 1em;
    position: relative;
    background-color: $color_button;
    color: $color_primary;
    transform: translate(30px, 0px);
    border-radius: 0.1875rem;
    &:before {
        content: "✔️";
        position: absolute;
        transform: translate(-30px, 0px);
    }
}

@media only screen and (min-width: 48em) {
	blockquote {
		margin-left:-28px
	}
}

// figcaption
figcaption {
    @include font(11);
    color: $color_primary_text;
    text-align: center;
}

// links
a {
    transition: color .4s;
    color: $color_shark;
    &:link {
        color: $color_shark;
    }
    &:visited {
        color: $color_tuatara;
    }
    &:hover {
        color: $color_purple;
    }
    &:active {
        transition: color .3s;
        color: $maroon;
    }
}

// pre and code
pre, code {
	font-family: $font1;
	overflow-x: auto;
}
p code,
li code,
p pre,
li pre {
    @include font(12);
    background-color: $color_note_1_line;
    // border: 1px solid $color_mischka;
    @include rounded(4px);
    color: $color_primary_text;
    margin: 0 2px;
    padding: 3px 5px;
}
li .highlight code,
li .highlight pre {
    background-color: transparent;
    border: 0;
}

// table - Tinh chỉnh border
table{
	width: 100%;
    border-collapse: collapse;
    vertical-align: center;
    box-shadow: 0 0 30px 0 rgba($color_black, 0.5);
    th {
        text-align: center;
        background-color: $color_primary;
        color: $color_black;
    }

    td, th {
        padding: 10px;
    }

    tr:nth-child(even) {background-color: $color_table_2;}
    tr:nth-child(odd) {background-color: $color_table_1}
}




// table,th,td {
//     border:1px solid black;
// }



// notice
.notice {
    margin-top: 1.5em;
    padding: .5em 1em;
    text-indent: 0;
    @include font-rem(12);
    background-color: $color_button;
    border: 1px solid $color_primary;
    @include rounded(3px);
}

// description title
dt {
    font-weight: bolder;
}

