---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<html lang="en" class="no-js">
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    {% include page-scroll.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title {% if page.feature %} feature {% endif %}">
                    <h1>{{ page.title }}</h1>
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                {{ content }}
            </div>
        </div>
        {% if page.comments and site.disqus_shortname %}<section id="disqus_thread" class="animated fadeInUp"></section><!-- /#disqus_thread -->{% endif %}
        <footer id="footer" class="wrapper animated fadeIn">
            <div class="author">
                <a class = "footer-social" href = "http://facebook.com/{{ site.facebook }}">
                    <i class="fab fa-facebook"></i>
                </a>
                <a class = "footer-social" href = "http://github.com/{{ site.github-url }}">
                    <i class="fab fa-github-alt"></i>
                </a>
                <a class = "footer-social" href = "mailto:{{ site.email }}">
                    <i class="fas fa-envelope"></i>
                </a>
                <a class = "footer-social" href = "http://linkedin.com/in/{{ site.linkedin }}">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <div class = "line-of-footer"></div>
                <p class = "info-f">
                    <span class = "text-author-pre">Copyright &copy; 2020 </span><span class = "text-author">Deuteri</span>
                </p>
            </div>
        </footer>
    </header>
    {% include scripts.html %}
    {% if site.mathjax == true %}
    <!-- MathJax -->
    <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
</body>
</html>