---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<html lang="en" class="no-js">
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    {% include page-scroll.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title">
                    <h1>{{ page.title }}</h1>
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                <div class="post-list">
                    {% for post in site.posts %} 
                        {% if post.project == null and post.blog == null %}
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                            <div class="post-list-footer">
                                <div class="post-datetime">
                                    <i class="far fa-calendar-Alt"></i>
                                    <i class = "post-list-footer-i"> {{ post.date | date:'%b %d, %Y' }} {% if post.update and post.update != "" %}| Updated:
                                        {{ post.update | date: "%b %-d, %Y"}}{% endif %} </i>
                                </div>
                            </div>
                            <p>{{ post.excerpt }}</p>
                            <a class ="read-more" href="{{ site.url }}{{ post.url }}">
                                <div> Read More  &rarr;</div>
                            </a>
                        </li>
                    </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <footer id="footer" class="wrapper animated fadeIn">
            <div class="author">
                <a class = "footer-social" href = "http://facebook.com/{{ site.facebook }}">
                    <i class="fab fa-facebook"></i>
                </a>
                <a class = "footer-social" href = "http://github.com/{{ site.github-url }}">
                    <i class="fab fa-github-alt"></i>
                </a>
                <a class = "footer-social" href = "mailto:{{ site.email }}">
                    <i class="fas fa-envelope"></i>
                </a>
                <a class = "footer-social" href = "http://linkedin.com/in/{{ site.linkedin }}">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <div class = "line-of-footer"></div>
                <p class = "info-f">
                    <span class = "text-author-pre">Copyright &copy; 2022 </span><span class = "text-author">Deuteri</span>
                </p>
            </div>
        </footer>
    </header>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
</body>
</html>
