---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<html lang="en" class="no-js"></html>
<head>
    {% include head.html %}
</head>
<body data-spy="true">
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper-2 animated fadeIn">
            <div class="content">
                <div class="post-title {% if page.feature %} feature {% endif %}">
                    <h1>{{ page.title }}</h1>
                    <h4>{{ page.date | date_to_string }}</h4>
                    {% if site.reading_time %}
                    <p class="reading-time">
                        <i class="fa fa-clock-o"></i>
                        {% include read-time.html %}
                    </p><!-- /.entry-reading-time -->
                    {% endif %}
                    {% if page.project %}
                    <a class="btn zoombtn" href="{{site.url}}/projects/">
                    {% else if page.blog %}
                    <a class="btn zoombtn" href="{{site.url}}/blogs/">
                    {% else %}
                    <a class="btn zoombtn" href="{{site.url}}/posts/">
                    {% endif %}
                        <i class="fa fa-chevron-left"></i>
                    </a>
                </div>
                <!-- <div class='post-content post-article'> -->
                <h1 class="toc-title" style="text-align: center;">Contents</h1>
            
                    {% include sidebar-toc.html html=content %}
                    {{ content }}
                    {% if page.previous.url %}
                        <div class="pre_next" style = "display: grid;grid-template-columns: 45% 45% 20px; grid-gap: 0 10%; font-weight: 500">
                            <div class="item item1" style="text-align: right; position: relative;">
                                <a href="{{page.previous.url}}" class="btn" style="width: 100%">
                                    <div style = "font-size: 12px; margin-bottom:-10px">Previous</div>
                                    <div style = "top:50%;bottom:50%; transform:translate(-50%, -50%); position: absolute; width: 25px; height:25px; left: 25px">
                                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" preserveAspectRatio="xMidYMid meet" data-rnw-int- style="vertical-align: middle;"><path d="M19 12H5M12 19l-7-7 7-7"></path></svg>
                                    </div>
                                    <div style = "position: relative; font-size: 16px; font-weight: 500 ">page.previous.title/div>
                                </a>
                            </div>
                            <div class="item item2" style="text-align: left; position: relative; ">
                                <a href="{{page.next.url}}" class="btn" style="width: 100%">
                                    <div style = "font-size: 12px; margin-bottom:-10px"> Next</div>
                                    <div style = "top:50%;bottom:50%; transform:translate(-50%, -50%); position: absolute; width: 25px; height:25px; right: 0px"><svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="vertical-align: middle;" ><path d="M5 12h14M12 5l7 7-7 7"></path></svg>
                                    </div>
                                    <div style = "position: relative; font-size: 16px; font-weight: 500 ">page.next.title/</div>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    {% if page.next.url}
                        <div class="pre_next" style = "display: grid;grid-template-columns: 45% 45% 20px; grid-gap: 0 10%; font-weight: 500">
                            <div class="item item1" style="text-align: right; position: relative;">
                                <a href="{{page.previous.url}}" class="btn" style="width: 100%">
                                    <div style = "font-size: 12px; margin-bottom:-10px">Previous</div>
                                    <div style = "top:50%;bottom:50%; transform:translate(-50%, -50%); position: absolute; width: 25px; height:25px; left: 25px">
                                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" preserveAspectRatio="xMidYMid meet" data-rnw-int- style="vertical-align: middle;"><path d="M19 12H5M12 19l-7-7 7-7"></path></svg>
                                    </div>
                                    <div style = "position: relative; font-size: 16px; font-weight: 500 ">page.previous.title/div>
                                </a>
                            </div>
                            <div class="item item2" style="text-align: left; position: relative; ">
                                <a href="{{page.next.url}}" class="btn" style="width: 100%">
                                    <div style = "font-size: 12px; margin-bottom:-10px"> Next</div>
                                    <div style = "top:50%;bottom:50%; transform:translate(-50%, -50%); position: absolute; width: 25px; height:25px; right: 0px"><svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="vertical-align: middle;" ><path d="M5 12h14M12 5l7 7-7 7"></path></svg>
                                    </div>
                                    <div style = "position: relative; font-size: 16px; font-weight: 500 ">page.next.title/</div>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    <!-- </div> -->

                <!-- <div class="containerrrr">
                    <div class="row">
                        <div class="col-sm-4">
                        <nav id="toc" data-spy="affix" data-toggle="toc"></nav>
                        </div>
                        <div class="col-sm-8 col-md-7">
                        {{ content }}
                        </div>
                    </div>
                </div> -->
                <div class="entry-meta">
                {% include meta.html %}
                </div>
            </div>
        </div>
        {% if page.comments and site.disqus_shortname %}<section id="disqus_thread" class="animated fadeInUp"></section><!-- /#disqus_thread -->{% endif %}
    </header>
    {% include scripts.html %}
    {% if site.mathjax == true %}
    <!-- MathJax -->
    <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
</body>
</html>
