---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<html lang="en" class="no-js">

</html>

<head>
    {% include head.html %}
</head>

<body data-spy="scroll" data-target="#toc">
    {% include nav.html %}
    {% include page-scroll.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper-2 animated fadeIn">
            <div class="content">
                <div class="post-title {% if page.feature %} feature {% endif %}">
                    <h1>{{ page.title }}</h1>
                    <div>{{ page.date | date_to_string }}</div>
                    <div class="view-page" style="justify-content: space-around; display:flex">
                        <p style="font-size:0.85rem; text-align: center;">Số lượng truy cập<br><span class="counter"
                                id="view-post-all">Đang cập nhật</span></p>
                        <p style="font-size:0.85rem; text-align: center;">Bạn đã truy cập<br><span class="counter"
                                id="view-post-user">Đang cập nhật</span></p>
                    </div>
                    {% if site.reading_time %}
                    <p class="reading-time">
                        <i class="fa fa-clock-o"></i>
                        {% include read-time.html %}
                    </p><!-- /.entry-reading-time -->
                    {% endif %}
                    {% if page.project %}
                    <a class="btn zoombtn" href="{{site.url}}/projects/">
                        {% else if page.blog %}
                        <a class="btn zoombtn" href="{{site.url}}/blogs/">
                            {% else %}
                            <a class="btn zoombtn" href="{{site.url}}/posts/">
                                {% endif %}
                                <i class="fa fa-chevron-left"></i>
                            </a>
                </div>
                <!-- <div class='post-content post-article'> -->
                <h1 class="toc-title" style="text-align: center;">Contents</h1>
                
                <div class='post-content post-article'>
                    {% include sidebar-toc.html html=content %}
                    {{ content }}
                </div>
                
                <br><br>
                {% include page-navigation.html %}
                
                <div class="entry-meta">
                    {% include meta.html %}
                </div>
            </div>
        </div>
        {% if page.comments and site.disqus_shortname %}<section id="disqus_thread" class="animated fadeInUp"></section>
        <!-- /#disqus_thread -->{% endif %}
        <footer id="footer-wrapper-2" class="wrapper-2 animated fadeIn">
            <div class="author">
                <a class="footer-social" href="http://facebook.com/{{ site.facebook }}">
                    <i class="fab fa-facebook"></i>
                </a>
                <a class="footer-social" href="http://github.com/{{ site.github-url }}">
                    <i class="fab fa-github-alt"></i>
                </a>
                <a class="footer-social" href="mailto:{{ site.email }}">
                    <i class="fas fa-envelope"></i>
                </a>
                <a class="footer-social" href="http://linkedin.com/in/{{ site.linkedin }}">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <div class="line-of-footer"></div>
                {% include view-page.html %}
                <p class="info-f">
                    <span class="text-author-pre">Copyright &copy; 2022 </span><span class="text-author">Deuteri</span>
                </p>
            </div>
        </footer>

    </header>
    <!-- <script src="{{ site.url }}/assets/js/dynamicscrollspy.js"></script> -->
    <script src="{{ site.url }}/assets/js/scrollnav.min.umd.js"></script>
    <script>
        //Scroll Nav
        const content = document.querySelector('.post-article');
        scrollnav.init(content, {
            debug: false,
            //easingStyle: 'linear',
            sections: ($('.post-content > h1').length > 0) ? 'h1' : 'h2',
            subSections: ($('.post-content > h1').length > 0) ? 'h2' : 'h3'
        });
        //Dynamically positon
        var sideNav = function () {
            var mainRect = document.getElementById('post-content').getBoundingClientRect();
            //var oldReac = document.getElementsByClassName('scroll-nav')[0].getBoundingClientRect();
            $('#post-content > div.content.loading > nav').css('left', mainRect.right + 10 + 'px');
        }

        sideNav();
        window.addEventListener("resize", sideNav);            
    </script>
    {% include scripts.html %}
    <!-- <script>
        sync()
        function sync() {

            var windowHeight = window.innerHeight;

            var pathStart = Number.MAX_VALUE,
                pathEnd = 0;

            var visibleItems = 0;

            tocItems.forEach(function (item) {

                var targetBounds = item.target.getBoundingClientRect();

                if (targetBounds.bottom > windowHeight * TOP_MARGIN && targetBounds.top < windowHeight * (1 -
                        BOTTOM_MARGIN)) {
                    pathStart = Math.min(item.pathStart, pathStart);
                    pathEnd = Math.max(item.pathEnd, pathEnd);

                    visibleItems += 1;

                    item.listItem.classList.add('visible');
                } else {
                    item.listItem.classList.remove('visible');
                }

            });

            // Specify the visible path or hide the path altogether
            // if there are no visible items
            if (visibleItems > 0 && pathStart < pathEnd) {
                tocPath.setAttribute('stroke-dashoffset', '1');
                tocPath.setAttribute('stroke-dasharray', '1, ' + pathStart + ', ' + (pathEnd - pathStart) + ', ' +
                    pathLength);
                tocPath.setAttribute('opacity', 1);
            } else {
                tocPath.setAttribute('opacity', 0);
            }

        }

    </script> -->
    {% if site.mathjax == true %}
    <!-- MathJax -->
    <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}

    <!-- get ip -->

</body>

</html>
